nav {
    background-color: $bg-color-footer;
    
    div {
        font-family: $letraPrincipal;
        
        ul {
            
            li {
                .nav-link{
                color: map-get($map: $mapaColores, $key: "elBlanco" );
                &:hover {
                    background-color: map-get($map: $mapaColores, $key: "elBlanco" );
                    color: map-get($map: $mapaColores, $key: "azulPrincipal" );
                }
                }
            }
        }
        
    }
}


.dropdown {
    display: none;
}